@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  /* Font Size: 16px */
  /* Font family: Red Hat Display */
  /* Weight: 500, 700, 900 */

  --primary-pale: hsl(225, 100%, 94%);
  --primary-bright: hsl(245, 75%, 52%);

  --neutral-pale: hsl(225, 100%, 98%);
  --neutral-Desaturated: hsl(224, 23%, 55%);
  --neutral-dark: hsl(223, 47%, 23%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body {
  background: url(./images/pattern-background-desktop.svg) no-repeat
    center/cover;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}
.container {
  background: #fff;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 3px 3px 18px -5px rgba(0, 0, 0, 0.74);
}
.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.body-text h1 {
  font-size: 2.3rem;
  font-weight: 900;
  text-align: center;
  margin-top: 2.5rem;
  color: var(--neutral-dark);
  cursor: default;
}
.fancy-line {
  color: var(--neutral-Desaturated);
  background-image: linear-gradient(90deg, red, blue);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  transition: background-size 300ms ease;
}
.fancy-line:hover {
  background-size: 100% 3px;
}

.body-text p {
  font-size: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
  color: var(--neutral-Desaturated);
  font-weight: 500;
  cursor: default;
}

.mid {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.mid h3 {
  font-size: 1.4rem;
  font-weight: 900;
}

.mid p {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  color: var(--neutral-Desaturated);
  font-weight: 500;
}

.mid a {
  font-size: 1.3rem;
  /* margin-left: 1.5rem; */
  color: var(--primary-bright);
  /* font-weight: 700; */
  text-decoration: underline;
  transition: 0.3s ease;
}

.mid a:hover {
  color: hsl(245, 63%, 61%);
  text-decoration: none;
}

.mid a:active {
  transform: scale(0.98);
}
.mid-border {
  border: 1px solid var(--neutral-pale);
  border-radius: 1em;
  background: var(--neutral-pale);
  display: flex;
  /* flex-direction: row; */
  padding: 20px;
  /* margin-top: 0rem; */
  gap: 2rem;
  align-items: center;
  /* justify-content: center; */
}

.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
}
.rotate:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.submit-btn {
  color: var(--primary-pale);
  background: var(--primary-bright);
  padding: 1.15rem 5.5rem;
  border-radius: 1rem;
  border: 1px;
  font-size: 1.3rem;
  font-weight: 700;
  transition: 0.3s ease;
  box-shadow: 3px 30px 30px -20px rgba(98, 76, 226, 0.5);
  cursor: pointer;
}
.submit-btn:hover {
  background-color: hsl(245, 63%, 61%);
}

.submit-btn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.cancel-btn {
  color: var(--neutral-Desaturated);
  font-size: 1.3rem;
  margin-top: 1.7rem;
  font-weight: 700;
  transition: 0.3s ease;
  /* padding-bottom: 3rem; */
  margin-bottom: 3rem;
}

.cancel-btn:hover {
  color: var(--neutral-dark);
}

.cancel-btn:active {
  transform: scale(0.98);
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 700;
  /* padding-bottom: 3rem; */
  padding-bottom: 4rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-weight: 500;
}

@media (min-width: 1200px) {
  .text-two-container a {
    margin-left: 5rem;
  }
}
